.home {
    text-align: center;

    &__header-2 {
        text-align: center;
    }

    &__text {
        text-align: center;
    }

    &__button {
        display: flex;
        justify-content: center;
    }

    &__split-login {
        display: flex;
        justify-content: center;
        height: 25rem;
        span {
            width: 30%;

            &:first-child {
                border-right: 1px solid black;
            }
        }

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
